.main_menu {
    background-color: white;
    border-radius: 10px;
    width: 190px;
    margin-top: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid rgb(13, 105, 242);
}

.sub_menu {
    background-color: white;
    width: 190px;
    border-radius: 10px;
    border: 1px solid rgb(13, 105, 242);
    margin-left: 1em;
    padding-top: 3px;
    margin-top: -0.25em;
    padding-bottom: 3px;
}

.menu_item {
    font-family: VTBGroupUIWebBook;
    background-color: white;
    border-radius: 5px;
    padding: 1em;
    width: auto;
    cursor: pointer;
}

.menu_item:hover {
    background-color: rgb(241, 242, 244);
}

.menu_sub_item {
    font-family: VTBGroupUIWebBook;
    background-color: white;
    border-radius: 5px;
    padding: 1em;
    width: auto;
    cursor: pointer;
}

.menu_sub_item:hover {
    background-color: rgb(241, 242, 244);
}

