.main_menu {
    background-color: white;
    border-radius: 10px;
    width: 190px;
    margin-top: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid rgb(13, 105, 242);
}

.sub_menu {
    background-color: white;
    width: 190px;
    border-radius: 10px;
    border: 1px solid rgb(13, 105, 242);
    margin-left: 1em;
    padding-top: 3px;
    margin-top: -0.25em;
    padding-bottom: 3px;
}

.menu_item {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 1em;
    width: auto;
    cursor: pointer;
}

.menu_item_choosen {
    background-color: rgb(13, 105, 242);
    color: white;
    border-radius: 5px;
    padding: 1em;
    width: auto;
    cursor: pointer;
}

.menu_item:hover {
    background-color: rgb(241, 242, 244);
}

.service_tag {
    border-radius: 30px;
    background-color: rgb(241, 242, 244);
    padding: 0.5em;
    margin-top: 0.5em;
    width: fit-content;
}

.tag_close_icon {
    display: inline-block;
    border-radius: 30px;
    margin-left: 0.3em;
    margin-right: 0.1em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    cursor: pointer;
}
.tag_close_icon:hover {
    background-color: rgb(184, 184, 184);
}

.tags_container {
    margin-top: 1em;
}

