.officeCard {
  display: flex;
  gap: 10px;
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 10px;
}

.officeCard:hover {
  background-color: ghostwhite;
}

.icon {
  position: relative;
  top: -15px;
}
