.officeCard {
  display: flex;
  gap: 10px;
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 10px;
}

.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.officeCard:hover {
  background-color: ghostwhite;
}

.icon {
  position: relative;
  top: -15px;
}

@media (max-width: 540px) {
  .officeCard {
    flex-direction: column;
  }
  .wrapper {
    flex-direction: column;
  }
  .icon {
    width: 25px;
    top: 0;
  }
}
